@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overscroll-behavior-y: none;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.preview-container {
  -ms-content-zooming: none;
  -ms-touch-action: none;
  touch-action: none;
  overscroll-behavior: none;
  overflow: hidden;
}